.holder {
vertical-align: top;
display: inline-block;
text-align: center;
width: 50px;
text-decoration:none
}
.caption {
	display: block;
}
.cs-select{
	width:70px;
	margin-left:-20px;
	margin-top: 20px;
}
.seat-img{
	width:38px;
}